@charset "UTF-8";

/*
	module:　m-icon-arrow
	- アイコン付きテキストリンク
-----------------------------------------------------------------*/
.m-icon-arrow {
	padding-left: 8px;
	background: url("../images/i_arrow_right.gif") no-repeat left center;
}