@charset "UTF-8";

.m-list-item {
	> li {
		position: relative;
		margin-top: -1px;
		border: 1px solid #e6e6e8;
		background: #FFF;
		cursor: pointer;

		&:first-child {
			margin-top: 0;
		}

		&:hover {
			.item-ctrl {
				display: block;
			}
		}

		> a {
			display: block;
			padding: 20px 180px 20px 20px;
			color: inherit;
			text-decoration: none;

			&:hover {
				.item-title {
					color: #ef4056;
				}
			}
		}

		.item-title {
			color: inherit;
			font-size: fz(14,18);
			font-weight: bold;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.item-url {
			color: #aaa;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.item-ctrl {
			display: none;
			position: absolute;
			right: 20px;
			top: 20px;

			> li {
				display: inline-block;
				vertical-align: middle;

				.ctrl-delete {
					font-size: fz(14,16);
					color: #999;

					&:hover {
						color: #333;
					}
				}
			}
		}
	}
}
