
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,700);

@charset 'UTF-8';
html {
	color : #313131;
	background : #f4f4f6;
	font-family : Meiryo, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'ＭＳ Ｐゴシック', Helvetica, Arial, sans-serif;
}

body {
	font-size : 14px;
	line-height : 1.75;
}

/* link style */
a:link {
	color : #98117e;
	text-decoration : none;
}

a:visited {
	color : #98117e;
	text-decoration : none;
}

a:hover, a:active {
	color : #98117e;
	text-decoration : underline;
}

/* header style */
#l-header {
	padding : 10px 0;
	border-bottom : 1px solid #e6e6e8;
	background : #fff;
}
#l-header .m-box-fixed {
	position : relative;
}
#l-header h1 {
	font-size : 169%;
	font-family : Arial;
}
#l-header h1 i {
	margin-right : 5px;
	color : #ef4056;
}
#l-header h1 span {
	color : #666;
	font-family : Ubuntu;
}
#l-header .header-menu {
	position : absolute;
	right : 0;
	top : 7px;
}

/* content style */
#l-content {
	padding : 40px 0;
}

/* footer style */
#l-footer {
	padding : 20px 0;
	border-top : 1px solid #e6e6e8;
}
#l-footer p {
	font-family : Arial;
	text-align : center;
}

/* wysiwyg style */
/* print style */
@media print {
	html {
		background : none;
	}
	body {
		padding : 0;
		background : none;
	}
	/* for IE7 */
	*:first-child + html body {
		zoom : 67%;
	}
}
