@charset 'UTF-8';
/*
  module: m-box-fixed
  - 固定幅・中央揃えのボックス
*/
.m-box-fixed {
	width : 960px;
	margin : 0 auto;
}

/*
	module:　m-opacityHover
	- ホバー時に下の画像を透過させる
-----------------------------------------------------------------*/
.m-box-opacity {
	display : inline-block;
}
.m-box-opacity:hover img {
	opacity : 0.7;
	-ms-filter : 'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';
}

/*
	module:box-imgTxt
	- 画像とテキストの横並び
*/
.m-box-imgTxt1 {
	*zoom : 1;
}
.m-box-imgTxt1:after {
	content : ' ';
	display : table;
	clear : both;
}
.m-box-imgTxt1 .imgBox {
	float : left;
	margin-right : 20px;
}
.m-box-imgTxt1 .textBox {
	overflow : hidden;
}

.m-box-imgTxt2 {
	*zoom : 1;
}
.m-box-imgTxt2:after {
	content : ' ';
	display : table;
	clear : both;
}
.m-box-imgTxt2 .imgBox {
	float : right;
	margin-left : 20px;
}
.m-box-imgTxt2 .txtBox {
	overflow : hidden;
}

/*
	module:　m-box-padding
-----------------------------------------------------------------*/
.m-box-padding {
	padding : 20px;
}

.m-box-grid {
	margin : 0 -10px;
	display : -ms-flexbox;
	display : flex;
	-ms-flex-wrap : wrap;
	    flex-wrap : wrap;
}
.lt-ie10 .m-box-grid {
	display : block;
	letter-spacing : -0.40em;
}
.m-box-grid .grid-col4 {
	width : 33.33333%;
	padding : 0 10px;
	box-sizing : border-box;
	vertical-align : top;
	letter-spacing : normal;
}
.lt-ie10 .m-box-grid .grid-col4 {
	display : inline-block;
}

/*
	module:　m-icon-arrow
	- アイコン付きテキストリンク
-----------------------------------------------------------------*/
.m-icon-arrow {
	padding-left : 8px;
	background : url('../images/i_arrow_right.gif') no-repeat left center;
}

/*
	module:　m-list-inline
	- 横並びリスト
-----------------------------------------------------------------*/
.m-list-inline {
	letter-spacing : -0.40em;
}
.m-list-inline li {
	margin-right : 20px;
	vertical-align : top;
	letter-spacing : normal;
}
.m-list-inline li.lastChild {
	margin-right : 0 !important;
}

/*
	module: m-list-indent
	- テキストの頭出し
-----------------------------------------------------------------*/
.m-list-indent li {
	margin-left : 1em;
	text-indent : -1em;
}

/*
	module:　m-list-topicpath
	- パンくず
-----------------------------------------------------------------*/
.m-list-topicpath {
	font-size : 85%;
}
.m-list-topicpath li {
	float : left;
	margin-right : 6px;
	padding-right : 12px;
	background : url('i_topicpath.gif') no-repeat right center;
}
.m-list-topicpath li.lastChild {
	margin-right : 0;
	padding-right : 0;
	font-weight : bold;
	background : none;
}

.m-list-news > li {
	padding : 10px 0;
	border-bottom : 1px dotted #ccc;
	line-height : 1.4;
}
.m-list-news > li dl dt {
	float : left;
	width : 9.5em;
}
.m-list-news > li dl dd {
	overflow : hidden;
	*zoom : 1;
}
.m-list-news > li dl dd a {
	color : #962b20;
}

/*
	module:　m-table-common
	- テーブルの基本スタイル
-----------------------------------------------------------------*/
.m-table-common {
	width : 100%;
	vertical-align : middle;
}
.m-table-common caption {
	font-weight : bold;
	padding-bottom : 5px;
}
.m-table-common thead th {
	padding : 10px;
	border : 1px solid #ccc;
	background : #ffc99d;
	font-size : 114%;
	font-weight : bold;
	line-height : 1.4;
	text-align : center;
	vertical-align : middle;
}
.m-table-common thead th:first-child {
	background : #eebc93;
}
.m-table-common tbody th, .m-table-common tbody td {
	padding : 10px;
	border : 1px solid #ccc;
	vertical-align : middle;
	line-height : 1.4;
}
.m-table-common tbody th {
	width : 20%;
	background : #eee;
	font-size : 114%;
	font-weight : bold;
	text-align : left;
	vertical-align : middle;
}
.m-table-common tbody td {
	vertical-align : middle;
}

/*
	module:　m-txt-ttlx
	- 見出し
-----------------------------------------------------------------*/
