@charset "UTF-8";

@import "core";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,700);

html {
    color: $defaultTxtColor;
    background: $defaultBgColor;
    font-family: Meiryo, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "ＭＳ Ｐゴシック", Helvetica, Arial, sans-serif;
}

body {
    font-size: $defaultTxtSize;
    line-height: $lineHeight;
}

/* link style */
a:link {
    color: $defaultLinkColor;
    text-decoration: none;
}

a:visited {
    color: $defaultLinkVisitedColor;
    text-decoration: none;
}

a:hover, a:active {
    color: $defaultLinkHoverColor;
    text-decoration: underline;
}

/* header style */
#l-header {
	padding: 10px 0;
	border-bottom: 1px solid #e6e6e8;
	background: #fff;

	.m-box-fixed {
		position: relative;
	}

	h1 {
		font-size: fz(13,22);
		font-family: Arial;

		i {
			margin-right: 5px;
			color: #ef4056;
		}

		span {
			color: #666;
			font-family: Ubuntu;
		}
	}

	.header-menu {
		position: absolute;
		right: 0;
		top: 7px;
	}
}

/* content style */
#l-content {
	padding: 50px 0;
}

/* footer style */
#l-footer {
	padding: 20px 0;
	border-top: 1px solid #e6e6e8;

	p {
		font-family: Arial;
		text-align: center;
	}
}

/* wysiwyg style */
.wysiwyg {

}

/* print style */
@media print {
    html {
        background: none;
    }

    body {
        padding: 0;
        background: none;
    }

    /* for IE7 */
    *:first-child + html body {
        zoom: 67%;
    }
}
